.allcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_list{
    width:50%;
    border: 1px solid #ccc;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.margin-center{
    margin: auto;
}